PORT=5000
MONGO_URI=mongodb://localhost:27017/architecture_db
CLIENT_URL=http://localhost:5173
JWT_SECRET=your_jwt_secret_here
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
RESEND_API_KEY=your_resend_api_key
EMAIL_FROM=noreply@yourarchitecturefirm.com
NODE_ENV=development
